<h1 class="page-header">Detalhes da Tarefa: {{ task.title }}</h1>

<form [formGroup]="reactiveTaskForm" (ngSubmit)="updateTask()">
  <div class="row">
    <!-- Field Title-->
    <div class="form-group col-md-6 has-feedback" [ngClass]="fieldClassForErrorOrSuccess('title')" >
      <label for="title" class="control-label">Título</label>
      <input type="text" id="title" formControlName="title" class="form-control">
      <span class="glyphicon form-control-feedback" [ngClass]="iconClassForErrorOrSuccess('title')" ></span>
      <div *ngIf="showFieldError('title')" class="text-danger">
        <div *ngIf="getField('title').errors.required">O título é obrigatório.</div>
        <div *ngIf="getField('title').errors.minlength">O título deve possuir no mínimo 2 caracteres.</div>
        <div *ngIf="getField('title').errors.maxlength">O título deve possuir no mínimo 255 caracteres.</div>
      </div>
    </div>
    <!-- Field Deadline-->
    <div class="form-group col-md-3 has-feedback" [ngClass]="fieldClassForErrorOrSuccess('deadline')" >
      <label for="deadline" class="control-label">Prazo de Entrega</label>
      <input type="text" id="deadline" formControlName="deadline" class="form-control">
      <span class="glyphicon form-control-feedback" 
        [ngClass]="iconClassForErrorOrSuccess('deadline')"
        style="margin-right: 20px;" ></span>
      <div *ngIf="showFieldError('deadline')" class="text-danger">O prazo é obrigatório</div>
    </div>
    <!-- Field done-->
    <div class="form-group col-md-3 has-feedback" [ngClass]="fieldClassForErrorOrSuccess('done')" >
      <label for="done" class="control-label">Situação</label>
      <select class="form-control" type="text" id="done" formControlName="done">
        <option *ngFor="let opt of taskDoneOptions" [value]="opt.value">{{ opt.text }}</option>
      </select> 
      <span class="glyphicon form-control-feedback" 
        [ngClass]="iconClassForErrorOrSuccess('done')"
        style="margin-right: 20px;" ></span>
      <div *ngIf="showFieldError('done')" class="text-danger">A situação é obrigatória</div>
    </div>

  </div>
  <div class="row">
    <!-- Field Description-->
    <div class="form-group col-md-12">
      <label for="description" class="control-label">Descrição</label>
      <textarea id="description" formControlName="description" rows=4 class="form-control"></textarea>
    </div>
  </div>

  <button [disabled]="reactiveTaskForm.invalid" type="submit" class="btn btn-success">Atualizar</button>
  <button type="button" class="btn btn-default" (click)="goBack()" >Voltar</button>

</form>